@import util.LDAP
@import com.unboundid.ldap.sdk.SearchResultEntry
@(ldap:LDAP, results:List[(EmpRelation,Option[SearchResultEntry])])
@header(orderBy: Int, title: String, classEx:Option[String] = None) = {
    <th class="col@orderBy header @classEx.getOrElse("") ">
    @title
    </th>
}
<div class="table-responsive">

<table class="table table-striped">
    <thead>
        <tr>
            @header(1, "Name")
            @header(2, "Title",Some("hidden-xs hidden-sm"))
            @header(3, "Reports")
            @header(3, "eMail")
            @header(4, "Phone")
           @* @header(5, "Alias",Some("hidden-xs hidden-sm hidden-md"))*@
          @*   @header(6, "DN")@**@
        </tr>
    </thead>
    <tbody>
    @results.sortBy( _._1.lastName.toLowerCase).map { result:(EmpRelation,Option[SearchResultEntry]) =>

            <tr>
                @if( result._2.isDefined ) {
                    <td><a href='@routes.Application.person(result._1.login)'>@result._2.get.getAttributeValue("name")</a></td>

                    @*  <td><a href='@routes.Application.person(result.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(result._2.getAttributeValue("distinguishedName"))'>@result.getAttributeValue("name")</a></td>
                    <td class="hidden-sm hidden-xs">@result._2.get.getAttributeValue("title")</td>

                    *@
                    <td class="hidden-sm hidden-xs">@result._1.position</td>
                    @if(result._1.reports >0)   {
                        <td class="hidden-sm hidden-xs" align="right">@result._1.reports</td>
                    } else {
                    <td class="hidden-sm hidden-xs">&nbsp;</td>
                    }

                    <td>
                        <a href="mailto:@result._2.get.getAttributeValue("mail")">@result._2.get.getAttributeValue("mail")</a>
                    </td>
                    <td>@result._2.get.getAttributeValue("telephoneNumber")</td>
                  @*  <td class="hidden-sm hidden-xs hidden-md">@result._1.login.toLowerCase</td>*@
                    @* <td>@result.getAttributeValue("distinguishedName")</td> @* *@
                }else {
                    <td><a href='@routes.Application.person(result._1.login)'>@result._1.name</a></td>
                    <td class="hidden-sm hidden-xs">@result._1.position</td>
                    <td class="hidden-sm hidden-xs" align="right">@result._1.reports</td>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                @*    <td class="hidden-sm hidden-xs hidden-md">@result._1.login.toLowerCase</td>*@

                }
            </tr>

    }

    </tbody>
</table>

</div>
