.DS_Store
logs
project/project
project/target
project/.idea
conf/application.conf
conf/application.conf.docker
target
tmp
.history
dist
/.idea
/*.iml
/offline*sql
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
run.sh
push.sh
pull.sh
build.sh
run.prod.sh
public/stylesheets/main.css
/3.2.0-2-SNAPSHOT/
/bootswatch-parent/
