@(emp:EmpRelation, obj: KudosToPerson)(implicit  s: slick.driver.MySQLDriver.simple.Session)
    @main("Kudos! -" + emp.name) {
        <div class="container">
            <div class="page-header row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h1>Kudos for @emp.name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                 From   @obj.fromPerson - @obj.dateAdded
                     <p>@obj.feedback</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <a href="@routes.Kudos.edit(obj.toPerson, obj.id.get)">edit</a> /
                    <a href="@routes.Application.person(obj.toPerson)">Person details</a> /
                    <a href="@routes.Kudos.create(obj.toPerson)">Create</a>
                </div>
            </div>

        </div>
    }
