@import com.unboundid.ldap.sdk.SearchResultEntry
@import util.Page
@import helper._
@import util.LDAP
@(ldap:LDAP, c: Form[personSearchCompactData], currentPage: Page[SearchResultEntry])

@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.f)
}

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, search: Field) = @{
    routes.Application.personSearchCompact(newPage, search.value)
}
@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header ">
    @title
    </th>
}

@main("People Search") {

    <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h1>Person Search</h1>
                    </div>
                </div>
            </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            @form(routes.Application.personSearchCompact(),'class -> "form-horizontal") {
                <fieldset>
                @formElementsPersonCompact(c)

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input type="submit" value="Search" class="btn btn-primary">
                            <a href='@routes.Application.personSearchDetailed()'>Detailed</a>

                        </div>
                    </div>
                </fieldset>

            }
            </div>

        </div>
    </div>

    <div class="container">

    @Option(currentPage.items).filterNot(_.isEmpty).map { results =>
        @fragment.personListing(ldap, results)

    <hr/>

    <ul class="pager" style="padding-bottom : 70 px ;">
        @currentPage.prev.map { page =>
        <li class="previous">
            <a href="@link(page, c("search"))">&larr; Previous</a>
        </li>
        }.getOrElse {
            <li class="previous disabled">
                <a>&larr; Previous</a>
            </li>
        }
    <li class="current">
        <a>Displaying @(currentPage.offset + 1) to @if( currentPage.pageSize > currentPage.total) { @currentPage.total } else { @(currentPage.offset + currentPage.pageSize) of @currentPage.total}</a>
    </li>
        @currentPage.next.map { page =>
        <li class="next">
            <a href="@link(page, c("search"))">Next &rarr;</a>
        </li>
        }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
        }
    </ul>
    }.getOrElse {
        @if(c("search").value) {
            <div class="panel panel-default">
                <div class="panel-body">
                    <em>Nothing to display</em>
                </div>
            </div>
        }

    }

    </div>
}
