@import com.unboundid.ldap.sdk.SearchResultEntry
@import util.Page
@import helper._
@import util.LDAP
@(ldap:LDAP, c: Form[personSearchDetailData], currentPage: Page[SearchResultEntry])

@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.f)
}

@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int) = @{
    routes.Application.personSearchDetailed(newPage,
        c("alias").value,
        c("email").value ,
        c("name").value ,
        c("title").value,
        c("reportsTo").value,
        c("phone").value ,
        c("office").value )
}
@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header ">
    @title
    </th>
}

@main("People Search") {
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h1>Person Search</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            @form(routes.Application.personSearchDetailed(),'class -> "form-horizontal") {
                <fieldset>
                @formElementsPersonDetail(c)

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="submit" value="Search" class="btn btn-primary">
                        <a href='@routes.Application.personSearchCompact()'>Compact</a>

                    </div>
                </div>
                </fieldset>
            }
            </div>

        </div>
    </div>

    <div class="container">

    @Option(currentPage.items).filterNot(_.isEmpty).map { results =>
    <table class="table table-striped">
        <thead>
            <tr>
                @header(1, "Alias")
                @header(2, "Name")
                @header(3, "Title")
                @header(4, "eMail")
                @header(4, "Phone")
            </tr>
        </thead>
        <tbody>

        @results.map { result =>
            <tr>
                <td><a href='@routes.Application.person(result.getAttributeValue("sAMAccountName"))?domain=ldap.domain(result.getAttributeValue("distinguishedName"))'>@result.getAttributeValue("sAMAccountName")</a></td>
                <td>@result.getAttributeValue("name")</td>
                <td>@result.getAttributeValue("title")</td>
                <td>
                    <a href="mailto:@result.getAttributeValue("mail")">@result.getAttributeValue("mail")</a>
                </td>
                <td>@result.getAttributeValue("telephoneNumber")</td>
            </tr>
        }

        </tbody>
    </table>
    <hr/>

    <ul class="pager" style="padding-bottom : 70 px ;">
        @currentPage.prev.map { page =>
        <li class="previous">
            <a href="@link(page)">&larr; Previous</a>
        </li>
        }.getOrElse {
            <li class="previous disabled">
                <a>&larr; Previous</a>
            </li>
        }
    <li class="current">
        <a>Displaying @(currentPage.offset + 1) to @if( currentPage.pageSize > currentPage.total) { @currentPage.total } else { @(currentPage.offset + currentPage.pageSize) of @currentPage.total}</a>
    </li>
        @currentPage.next.map { page =>
        <li class="next">
            <a href="@link(page)">Next &rarr;</a>
        </li>
        }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
        }
    </ul>
    }.getOrElse {
        @if(c("alias").value|| c("email").value ||  c("name").value|| c("title").value|| c("reportsTo").value|| c("phone").value||c("office").value) {
            <div class="panel panel-default">
                <div class="panel-body">
                    <em>Nothing to display</em>
                </div>
            </div>
        }

    }

    </div>
}
