@import com.unboundid.ldap.sdk.SearchResultEntry
@import util.LDAP
@(ldap: LDAP, person: SearchResultEntry)

@main(person.getAttributeValue("displayName")) {
<div class="container">
        <div class="page-header @if( person.getAttributeValue("msExchHideFromAddressLists") == "TRUE") {alert-warning} " id="banner">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8">
                <h1>@person.getAttributeValue("displayName")</h1>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @person.getAttributeValue("title")
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @person.getAttributeValue("company")
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Reports to:
                                @ldap.getByDistinguishedName(person.getAttributeValue("manager")).map  { manager:SearchResultEntry =>
                                <a href='@routes.Application.person(manager.getAttributeValue("sAMAccountName"))'>
                                    @manager.getAttributeValue("displayName")</a>
                                 }.getOrElse{ No Manager }
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            email: <a href="mailto:@person.getAttributeValue("mail")">@person.getAttributeValue("mail")</a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            Interoffice: @person.getAttributeValue("otherTelephone")
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            Phone: @person.getAttributeValue("telephoneNumber")
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            Cell: @person.getAttributeValue("mobile")
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            @person.getAttributeValue("physicalDeliveryOfficeName")
                        </div>

                        @if( person.getAttributeValue("streetAddress") != null) {
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                Address: @person.getAttributeValue("streetAddress"),
                                @person.getAttributeValue("l"),
                                @person.getAttributeValue("st") @person.getAttributeValue("postalCode") @person.getAttributeValue("co")

                            </div>
                        }
                    </div>
                </div>
                <div class="col-sm-4 col-md-5 col-lg-4">
                  @* <img src="@routes.Assets.at("images/noFace.jpg")">*@
                   <img class="img-responsive" src='@routes.ImageC.headShot(person.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(person.getAttributeValue("distinguishedName"))' >
                </div>
            </div>
            @if( person.getAttributeValue("msExchHideFromAddressLists")== "TRUE") {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <strong>Warning: This person is 'hidden'</strong>
                        </div>
                </div>
            }

    </div>

    @if(person.getAttributeValues("directReports")!=null) {

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Direct Reports</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        @fragment.personListing(ldap, person.getAttributeValues("directReports").map { a => ldap.getByDistinguishedName(a)}.flatten.toList )
                    </div>
                </div>
            </div>
                </div>
        </div>
    }

    @if(person.getAttributeValues("memberOf")!=null) {

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @defining( person.getAttributeValues("memberOf").toList.map({ a:String => ldap.getByDistinguishedName(a)}).flatten ) { memberList =>
                @for(list <- LDAP.listTypes) {
                    @if( memberList.filter( {rec:SearchResultEntry => rec.getAttributeValue("sAMAccountType") == list._1 }).size>0) {
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Member of @(list._2)</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                @for(group <- memberList.filter({ rec: SearchResultEntry => rec.getAttributeValue("sAMAccountType") == list._1}).sortBy({
                                    _.getAttributeValue("sAMAccountName")
                                })) {
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    @if(group.getAttributeValue("sAMAccountType") == LDAP.accountTypeMailGroup) {
                                        @if(group.getAttributeValue("mailNickname")==null ) {
                                            <a href='@routes.Application.group(group.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(group.getAttributeValue("distinguishedName"))'>@group.getAttributeValue("name")</a>
                                        }else {
                                            <a href='@routes.Application.group(group.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(group.getAttributeValue("distinguishedName"))'>@group.getAttributeValue("displayName")</a>
                                        }
                                    } else {
                                        @if(group.getAttributeValue("sAMAccountType") == LDAP.accountTypeOtherGroup) {
                                            <a href='@routes.Application.group(group.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(group.getAttributeValue("distinguishedName"))'>@group.getAttributeValue("name")</a>
                                        } else {
                                            @if(group.getAttributeValue("sAMAccountType") == LDAP.accountTypeAliasObject) {
                                                <a href='@routes.Application.group(group.getAttributeValue("sAMAccountName"))?domain    =@ldap.domain(group.getAttributeValue("distinguishedName"))'>@group.getAttributeValue("name")</a>
                                            } else {
                                                *@group.getAttributeValue("displayName")
                                            }
                                        }
                                    }

                                    </div>
                                }

                                </div>
                            </div>
                        </div>
                    }
                }
                }
            </div>
        </div>
    }

</div>
    @*
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>@person.getAttributeValue("distinguishedName")</p>
            </div>
        </div>
    </div>
*@
@*
        <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @for(kvalue <- person.getAttributes) {
                <li>
                    @kvalue.getName /
                    @kvalue.getValue
                </li>

            }
          </div>
        </div>
        </div>
    @*    *@

}
