@import com.unboundid.ldap.sdk.SearchResultEntry
@import util.LDAP
@import models.EmpRelation
@(ldap: LDAP, person:SearchResultEntry, employee: Option[EmpRelation], directs:List[(EmpRelation,Option[SearchResultEntry] )], kudosFrom:List[KudosToPerson], kudosTo:List[KudosToPerson])

@main(person.getAttributeValue("displayName")) {
<div class="container">
        <div class="page-header @if( person.getAttributeValue("msExchHideFromAddressLists") == "TRUE") {alert-warning} " id="banner">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8">
                    @if( employee.isDefined) {
                        <h1>@employee.get.firstName @if( employee.get.nickName.isDefined) { (@employee.get.nickName)} @employee.get.lastName</h1>
                    }else {
                        <h1>@person.getAttributeValue("displayName")</h1>
                    }

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @if( employee.isDefined) {
                               @employee.get.position
                            } else {
                                @person.getAttributeValue("title")
                            }
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        @if( employee.isDefined) {
                            @employee.get.companyCodeName    ( @employee.get.costCenter )
                        } else {
                            @person.getAttributeValue("company")
                        }
                        </div>
                        @if(employee.isDefined) {
                                @if(employee.get.managerID.isDefined) {
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p>Reports to:

                                        <a href='@routes.Application.person(employee.get.managerID.get.toLowerCase)'>
                                        @ldap.getPersonByAccount(employee.get.managerID.get.toLowerCase, None).head.getAttributeValue("name")
                                        </a>
                                    </p>
                                </div>
                        }
                        } else {
                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @ldap.getByDistinguishedName(person.getAttributeValue("manager")).map { manager: SearchResultEntry =>
                            <p>Reports To:<a href='@routes.Application.person(manager.getAttributeValue("sAMAccountName"))'>
                            @manager.getAttributeValue("displayName")</a>
                            }.getOrElse { No Manager }
                        </p>
                        </div>
                        }

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            email: <a href="mailto:@person.getAttributeValue("mail")">@person.getAttributeValue("mail")</a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            Interoffice: @person.getAttributeValue("otherTelephone")
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            Phone: @person.getAttributeValue("telephoneNumber")
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            Cell: @person.getAttributeValue("mobile")
                        </div>
                        @if(employee.isDefined) {
                            @if(employee.get.officeLocation.isDefined) {
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    Workstation: @employee.get.officeLocation.get
                                </div>
                            }
                        }
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            @person.getAttributeValue("physicalDeliveryOfficeName")
                        </div>

                        @if( person.getAttributeValue("streetAddress") != null) {
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                Address: @person.getAttributeValue("streetAddress"),
                                @person.getAttributeValue("l"),
                                @person.getAttributeValue("st") @person.getAttributeValue("postalCode") @person.getAttributeValue("co")

                            </div>
                        }
                        @if(employee.isDefined) {
                            @if( employee.get.reports >0) {
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    Reports: @employee.get.FTEs
                                    @if( employee.get.reportsContractor > 0 ) {
                                        (@employee.get.reportsContractor Contractors)
                                    }
                                </div>
                            }

                        }
                    </div>
                </div>
                <div class="col-sm-4 col-md-5 col-lg-4">
                   <img class="img-responsive" src='@routes.ImageC.headShot(person.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(person.getAttributeValue("distinguishedName"))' >
                    This is from your login badge. We are working on letting you change this.
                </div>
            </div>
            @if( person.getAttributeValue("msExchHideFromAddressLists")== "TRUE") {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <strong>Warning: This person is 'hidden'</strong>
                        </div>
                </div>
            }
            @if(employee.isDefined) {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="@routes.Kudos.create(employee.get.login)"><i class="fa fa-thumbs-o-up"></i>Give Kudos!</a>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            </div>
            }
    </div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div role="tabpanel">
            <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
        @if(!directs.isEmpty ) {
            <li role="presentation" class="active"><a href="#directs" aria-controls="directs" role="tab" data-toggle="tab">
                Directs</a></li>
        }  else {
            <li role="presentation" class="active"><a href="#directs" aria-controls="directs" role="tab" data-toggle="tab">&nbsp;</a></li>
        }
            @for(list <- LDAP.listTypes) {
             <li role="presentation"><a href='#@list._2.replaceAll(" ","_")' aria-controls='@list._2.replaceAll(" ","_")' role="tab" data-toggle="tab">@list._2</a></li>
            }
            <li role="presentation"><a href='#KudosRCVD' aria-controls="KudosRCVD" role="tab" data-toggle="tab">Kudos Received</a></li>
            <li role="presentation"><a href='#KudosGIVEN' aria-controls="KudosGIVEN" role="tab" data-toggle="tab">Kudos Given</a></li>
        </ul>
            <!-- Tab panes -->
        <div class="tab-content">
            @if(!directs.isEmpty ) {
                <div role="tabpanel" class="tab-pane active" id="directs">
                @fragment.personListing2(ldap, directs )
                </div>
            } else {
                <div role="tabpanel" class="tab-pane active" id="directs">
             click on tabs above for mailing lists etc.
                </div>
            }

            @if( person.getAttributeValues("memberOf") != null) {
            @defining( person.getAttributeValues("memberOf").toList.map({ a:String => ldap.getByDistinguishedName(a)}).flatten ) { memberList =>
                @for(list <- LDAP.listTypes) {
                <div role="tabpanel" class="tab-pane" id='@list._2.replaceAll(" ","_")'>
<table class="table table-striped">

    <thead>
    <tr><th colspan="4">@list._2</th></tr>
    </thead>

                    @if( memberList.filter( {rec:SearchResultEntry => rec.getAttributeValue("sAMAccountType") == list._1 }).size>0) {
                        @for((group,indexN) <- memberList.filter({ rec: SearchResultEntry => rec.getAttributeValue("sAMAccountType") == list._1}).sortBy({
                            _.getAttributeValue("sAMAccountName")
                        }).zipWithIndex ) {
                            @if( indexN % 4 == 0) {
                                @if( indexN == 0) {
                                    <tr>

                                } else {
                                </tr><tr>
                            }
                            }
                            <td>
                            @if(group.getAttributeValue("sAMAccountType") == LDAP.accountTypeMailGroup) {
                                @if(group.getAttributeValue("mailNickname")==null ) {
                                    <a href='@routes.Application.group(group.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(group.getAttributeValue("distinguishedName"))'>@group.getAttributeValue("name")</a>
                                }else {
                                    <a href='@routes.Application.group(group.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(group.getAttributeValue("distinguishedName"))'>@group.getAttributeValue("displayName")</a>
                                }
                            } else {
                                @if(group.getAttributeValue("sAMAccountType") == LDAP.accountTypeOtherGroup) {
                                    <a href='@routes.Application.group(group.getAttributeValue("sAMAccountName"))?domain=@ldap.domain(group.getAttributeValue("distinguishedName"))'>@group.getAttributeValue("name")</a>
                                } else {
                                    @if(group.getAttributeValue("sAMAccountType") == LDAP.accountTypeAliasObject) {
                                        <a href='@routes.Application.group(group.getAttributeValue("sAMAccountName"))?domain    =@ldap.domain(group.getAttributeValue("distinguishedName"))'>@group.getAttributeValue("name")</a>
                                    } else {
                                        *@group.getAttributeValue("displayName")
                                    }
                                }
                            }
                        }
                    }
    </tr>
</table>
                </div>
                }
            }
        }
            <div role="tabpanel" class="tab-pane" id='KudosRCVD'>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>From</th>
                        <th>Date</th>
                        <th>Kudos!</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for( kudo <- kudosTo) {
                        <tr>
                            <td><a href='@routes.Application.person(kudo.fromPerson)'>@kudo.fromPerson</a></td>
                            <td>@kudo.dateAdded</td>
                            <td>@kudo.feedback</td>
                            <td><a href='@routes.Kudos.edit(kudo.toPerson,kudo.id.get)'><i class="fa fa-pencil-square-o"></i></a>
                                <a href='@routes.Kudos.flag(kudo.toPerson,kudo.id.get)'><i class="fa fa-flag"></i></a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id='KudosGIVEN'>
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Date</th>
                            <th>Kudos!</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for( kudo <- kudosFrom) {
                            <tr>
                                <td><a href='@routes.Application.person(kudo.toPerson)'>@kudo.toPerson</a></td>
                                <td>@kudo.dateAdded</td>
                                <td>@kudo.feedback</td>
                                <td><a href='@routes.Kudos.edit(kudo.toPerson,kudo.id.get)'><i class="fa fa-pencil-square-o"></i></a>
                                    <a href='@routes.Kudos.flag(kudo.toPerson,kudo.id.get)'><i class="fa fa-flag"></i></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

    @*
        <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @for(kvalue <- person.getAttributes) {
                <li>
                    @kvalue.getName /
                    @kvalue.getValue
                </li>

            }
          </div>
        </div>
        </div>
    @*    *@

}
